body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    border-radius: 12px;
}

h1 {
    font-weight: bold;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presente {
    background-color: #d4edda;
}

.ausente {
    background-color: #f8d7da;
}

input[type="checkbox"] {
    transform:scale(1.3);
    cursor:pointer;
}